@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   
    --primary-color: #395E66  ;
    --secondary-color: #387D7A ;
    --accent1-color: #32936F;
    --accent2-color: #26A96C;
    --additional-color:#a99526;

    --heading-font:"Roboto Mono",serif;
    --paragraph-font:"Roboto",serif;

    --nav-background-color: #395E66  ;
    --nav-link-color:white ;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #45B69C;
}
nav {
    text-align: left;
    text-emphasis: none;
    margin: 1rem;


}
.navigation {
	text-align: left;
    font: 2em sans-serif;
    font-size: larger;
    
}
main {
    max-width: 800px;
	margin: 1rem;
	font-family: Roboto, Arial, sans-serif;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
