* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 750px;
}
nav {
    background-color: steelblue;
    padding: 20px;
}

nav a {
    color: rgb(159, 206, 201);
    display: block;
    padding: 20px;
}
 h1 {
    color: steelblue;
    padding: .5rem
 }

 main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid rgb(88, 137, 177);
    padding: 2px;
    box-shadow: 0 0 30px rgb(78, 73, 73);
    
    margin: 0 0 1rem 1rem;
}

p {padding: 0;}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    
}
aside img {
    width: 200px;
    height: auto;
    
}
aside h2 {
position: absolute;
    top: 2px;
    left: 70px;
    color: #eee;
    
}
 footer {
    margin-top: 15px;
    border-top: 1px solid #000 ;
    text-align: center;
 }
/* Class Selector*/

.box {
    margin: 0 0 5rem 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1 rem;
    background-color: #eee;
    color: #000;
 }