main{
    max-width: 840px;
}
nav {
    background-color: steelblue;
    padding: 20px;
}

nav a {
    color: rgb(0, 170, 154);
    display: block;
    padding: 20px;
}
 h1 {
    color: steelblue;
 }

main img {
    width: 150px;
    height: auto;
    border: 1px solid rgb(88, 137, 177);
    padding: 2px;
    box-shadow: 0 0 30px rgb(78, 73, 73);
}

p {
    padding: 10px;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: rgb(214, 220, 226);
    color: rgb(42, 97, 97);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
 footer {
    margin-top: 15px;
    border-top: 1px solid #000 ;
    text-align: center;
 }